<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multi Document OCR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="card-title">Upload Documents</h2>
                <form action="/ocr" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="images">Select Images:</label>
                        <input type="file" class="form-control" name="images" id="images" multiple required>
                        <small class="form-text text-muted">You can select multiple images.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">📤 Upload & Extract</button>
                </form>
            </div>
        </div>
    </div>
    <div style="margin:20px; justify-items: center; align-items: center;">
        <div style=" width:max-content; border: solid 0.2px; border-radius: 5px; justify-items: center; align-items:center; background-color: white; padding:20px;">
            <h2>Extract All Files </h2>
            <form action="/allocr" method="get" style="justify-items: center; align-items: center;">
                <button>Extract All Files</button>
            </form>
        </div>
    </div>
</body>
</html>
